@font-face {
    font-family: game-base;
    src: url('resources/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: game-base;
    src: url('resources/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: game-base;
    src: url('resources/fonts/Roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: game-base;
    src: url('resources/fonts/Roboto/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: game-accessible;
    src: url('resources/fonts/opendyslexic/OpenDyslexic-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    size-adjust: 80%;
}
@font-face {
    font-family: game-accessible;
    src: url('resources/fonts/opendyslexic/OpenDyslexic-Bold.woff2');
    font-weight: bold;
    font-style: normal;
    size-adjust: 80%;
}
@font-face {
    font-family: game-accessible;
    src: url('resources/fonts/opendyslexic/OpenDyslexic-Italic.woff2');
    font-weight: normal;
    font-style: italic;
    size-adjust: 80%;
}
@font-face {
    font-family: game-accessible;
    src: url('resources/fonts/opendyslexic/OpenDyslexic-Bold-Italic.woff2');
    font-weight: bold;
    font-style: italic;
    size-adjust: 80%;
}

@font-face {
    font-family: game-kira;
    src: url(resources/fonts/canterbury.regular.ttf) format('truetype');
    size-adjust: 120%;
}

@font-face {
    font-family: game-spiral;
    src: url(resources/fonts/oswald/Oswald-Regular.ttf) format('truetype');
    size-adjust: 90%;
}


:root{
    --background-color: #0E1026;

    --fade-color: #161b34;

    --primary-color: #1c244e;
    --secondary-color: #232754;
    --text-color: #ffffff;

    --primary-border-color: #3c4675;
    --primary-border-shadow-color: #111836;
    --background-border-color: #262355;
    --background-border-shadow-color: #09071e;

    --hover-color: #232c57;
    --focus-outline-color: #929ccc;

    font-size: 1em;
    
    --game-font: game-base;
    --kira-font: game-kira;
    --spiral-font: game-spiral;
}

s {
    text-decoration: line-through;
    text-decoration-thickness: .13rem;
}

*{
    user-select: none;
    
    text-shadow: .0625rem .0625rem .13rem rgb(0, 0, 0);
    text-align: center;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: white;

    font-family: var(--game-font, Arial);
}
.timer-box{
    width: 100%;
    height: .5rem;
    margin: 0%;
    padding: 0%;
    background-color: #220000;
}

button, input, select, option, textarea, .textarea, summary {
    border-radius: 0.4rem;
    margin: .13rem;
    background-color: var(--secondary-color);
    border-color: var(--primary-border-color);
    border-style: solid;
    border-width: .13rem;
    color: white;
    font-size: 1em;
    padding: 0.13rem 0.25rem;
}

/*
Ensure the CSS is EXACTLY the same (FUCK YOU CHROME)
*/
textarea, .textarea {
    display: inline-block;
    unicode-bidi: normal;
    overflow-wrap: normal;
    cursor: text;
    white-space-collapse: preserve;
    text-rendering: optimizeLegibility;
    vertical-align: text-bottom;
    white-space: pre;
    overflow-x: hidden;
    overflow-y: hidden;
}

*:focus-visible {
    outline: var(--focus-outline-color) solid .13rem;
    background-color: var(--hover-color);
}

a {
    text-decoration: none .13rem;
}

a:hover {
    background-color: var(--hover-color);
}

a:focus-visible {
    outline: unset;
    text-decoration-line: underline;
    text-decoration-color: var(--focus-outline-color);
}

button, summary {
    cursor: default;
    background-color: var(--primary-color);
    white-space: nowrap;
}
button, select, summary {
    border-bottom-color: var(--primary-border-shadow-color);
    border-right-color: var(--primary-border-shadow-color);
    user-select: none;
}
input, option, textarea, .textarea {
    border-top-color: var(--primary-border-shadow-color);
    border-left-color: var(--primary-border-shadow-color);
}

:has(input):focus-within > button.clear {
    display: block;
}

:has(button.clear) {
    position: relative;
}

button.clear {
    display: none;
    font-size: 0.8em;
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    background: none;
    border: none;
    padding: 0;
}

button.close {
    font-size: 1em;
    padding: 0;
}

button:disabled, input:disabled, select:disabled, option:disabled, textarea:disabled, .textarea:disabled, summary:disabled {
    opacity: 0.5;
    box-shadow: 0 0 100vmax #55555555 inset;
}
summary {
    text-align: left;
    padding-left: 0.5rem;
}
.highlighted {
    border-color: yellow;
}
option {
    background-color: var(--background-color);
}

button:hover:not([disabled]):not(:active), input:hover:not([disabled]):not(:active), select:hover:not([disabled]):not(:active), option:hover:not([disabled]):not(:active), summary:hover:not([disabled]):not(:active) {
    background-color: var(--hover-color);
}

.hero {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

code, .code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0.25rem;
    white-space: pre;
}

::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
}
/* Track */
::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-radius: .4rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: .4rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}

::-webkit-scrollbar-corner {
    background: transparent
}

.chat-menu-colors {

    --fade-color: #161b34;

    --primary-color: #1c244e;
    --secondary-color: #232754;
    --text-color: #ffffff;

    --primary-border-color: #3c4675;
    --primary-border-shadow-color: #111836;

    --hover-color: #232c57;
    --focus-outline-color: #929ccc;


    --background-color: #151a41;
    --background-border-color: #2b3162;
    --background-border-shadow-color: #0e1024;

    --primary-color: #1c244e;
    --secondary-color: #232754;
}

.player-list-menu-colors {
    --background-color: #182c28;
    --fade-color: #0b1511;
    --primary-color: #1a3531;
    --secondary-color: #1f3a35;
    --text-color: #ffffff;
    --primary-border-color: #2e5952;
    --primary-border-shadow-color: #142523;
    --background-border-color: #2c4d46;
    --background-border-shadow-color: #121f1c;
    --hover-color: #1f403b;
    --focus-outline-color: #84a997;
}

.will-menu-colors {
    --background-color: #251737;
    --fade-color: #100b15;
    --primary-color: #2c1c40;
    --secondary-color: #332142;
    --text-color: #ffffff;
    --primary-border-color: #4c3558;
    --primary-border-shadow-color: #250d2b;
    --background-border-color: #352d56;
    --background-border-shadow-color: #110d18;
    --hover-color: #38254e;
    --focus-outline-color: #9c84a9;
}

.role-specific-colors {
    --background-color: #331c26;
    --fade-color: #150b12;
    --primary-color: #422031;
    --secondary-color: #422137;
    --text-color: #ffffff;
    --primary-border-color: #5a3246;
    --primary-border-shadow-color: #25141d;
    --background-border-color: #50303e;
    --background-border-shadow-color: #25131c;
    --hover-color: #4c2337;
    --focus-outline-color: #a9849c;
}

.graveyard-menu-colors {
    --background-color: #2c2b3b;
    --fade-color: #1d1b29;
    --primary-color: #323142;
    --secondary-color: #373647;
    --text-color: #ffffff;
    --primary-border-color: #49485b;
    --primary-border-shadow-color: #202027;
    --background-border-color: #3d3c4d;
    --background-border-shadow-color: #19181f;
    --hover-color: #3c3b4d;
    --focus-outline-color: #9896ae;
}

.wiki-menu-colors {
    --background-color: #301f1b;
    --fade-color: #150e0b;
    --primary-color: #412720;
    --secondary-color: #422821;
    --text-color: #ffffff;
    --primary-border-color: #5a3b32;
    --primary-border-shadow-color: #2b1b16;
    --background-border-color: #503830;
    --background-border-shadow-color: #251813;
    --hover-color: #4c2d23;
    --focus-outline-color: #a98e84;
}


@media only screen and (max-width: 600px) {
    .mobile-hidden {
        display: none;
    }
}