
*{
    text-align: center;

    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 102%; 

    color: white;

    cursor: default;
}

input, button, select {
    border-radius: 0.4rem;
    padding: .75%;
    margin: .75%;
    background-color: white;
    color: black;
}

button:hover, input:hover, select:hover, option:hover {
    background-color: lightgray;
}

option {
    margin-top: 0.5rem;
    justify-content: center;
    background-color: white;
    color: black;
    min-height: 2rem;
}
