.kira-guess-picker {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: .13rem solid var(--primary-border-color);
}