.large-reporter-menu {
    padding-top: .2rem;
}
.large-reporter-menu > div:first-child {
    margin: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.large-reporter-menu label {
    display: inline-block;
    height: 100%;
    padding: .2rem;
    border-radius: .2rem;
    background-color: var(--primary-color);
    border: .13rem solid var(--primary-border-color);
    cursor: pointer;
    margin-right: .24rem;
}