.sm-header {
    height: 58vh;
}
.sm-login-button {
    margin: 0;
    width: 10vh;
    height: 6vh;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 5%;
}
.sm-button-area {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33vh;
}
.sm-join-host-button {
    margin: 2vh 2vh;
    width: 50vh;
    max-width: 90vw;
    height: 6vh;
    min-height: 2rem;
    justify-content: center;
    top: 30%;
}