.role-picker {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.role-picker-option {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid .13rem var(--primary-border-color);
    border-radius: .5rem;
    border-bottom-color: var(--primary-border-shadow-color);
    border-right-color: var(--primary-border-shadow-color);
    background-color: var(--primary-color);
    margin: .13rem;
}
.role-picker-option > button {
    margin: 0;
    border: none;
    border-radius: 0;
    border-left: dotted .13rem var(--primary-border-color);
    background-color: unset;
}
.role-picker-option > button:first-of-type {
    border-left: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.role-outline-option-selector {
    width: 100%;
}
.role-picker select {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
}
.role-picker select:first-of-type {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}
.role-picker select:last-of-type {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}
.role-list-setter-list {
    margin: .25rem;
    border: solid .13rem var(--primary-border-shadow-color);
    border-bottom-color: var(--primary-border-color);
    border-right-color: var(--primary-border-color);
    border-radius: .25rem;
}
.role-list-setter-list>div:nth-of-type(even) {
    background-color: var(--primary-color);
}
.role-list-setter-outline-div {
    align-items:center;
    gap: .25rem;
    display: flex;
    overflow-x: auto;
}
.role-list-setter-add-button-div {
    justify-content: center;
}
.conclusions-selector {
    position: absolute;
    min-width: max-content;
    overflow-y: auto;

    padding: .13rem .13rem;
    background-color: var(--secondary-color);
    border-radius: .25rem;
    border: .13rem solid var(--primary-border-color);
}
.insider-group-selector-label {
    border-right: none;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.conclusions-selector-label {
    margin-left: 0;
    border-left-style: solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}