.lm-player-list-pane {
    width: 30vw;
    margin: 0 2vw;
}
.lm-name-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.lm-settings-column {
    display: flex;
    flex-direction: column;
}
.lm-settings-pane {
    width: 60vw;
    margin: 0 2vw;
}
.lm-start-button {
    margin: 0;
    width: 20vh;
    height: 8vh;
    justify-content: center;
    margin-right: 4vw;
}
.lm-header {
    height: 18vh;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.lm-header-text {
    font-size: 325%;
    margin-left: 4vw;
    width:unset;
}
.lm-time-select-region {
    /* Copy here whatever isaac did for join menu input column */
}
.lm-set-time-button {
    height: 2vh;
    min-height: 2rem;
    padding: 0 2%;
}

.role-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.role-picker-container {
    display: inline-block;
    margin: 10px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

.role-picker-container select {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    font-size: 1rem;
}

.role-picker-container select:focus {
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.role-picker-container select option {
    background-color: #fff;
    color: #000;
}

