.chat-menu {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages {
    /*the chat messages can not be moved by a long message being typed*/
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #282c34;
    color: #fff;
    height: calc(100% - 110px);
    /*subtracts the hight of the chat message box from the hight*/
    max-height: calc(100% - 90px); 
    overflow-y: auto; 
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.chat-messages div {
    font-size: 85%;
    margin-bottom: 5px;
    border: #4caf50 1px solid;
    border-radius: 5px;
    padding-left: 0.1%;
    padding-right: 0.1%;
}

/*styles the chat input so that the text will roll over to the next 
 * line if it is too long to fit on one line 
 * the cursor will start on the left side of the input box 
 */
.chat-input {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
    margin-left: 1.25%;
    margin-right: 1.25%;
    margin-bottom: 5%;
    background-color: #20232a;
    text-align: left;
    white-space: initial;
    overflow-wrap: break-word;
    width: 97%;
    max-width: 97%;
    resize: none;
    line-height: 16px;
    min-height: 100%;
    height: fit-content;
    border-radius: 5%;
}

.chat-input input[type="text"] {
    max-width : 90%;  position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    border-radius: 5%;
    background-color: #282c34;
    color: #fff;
    cursor: text;
    word-wrap: break-word; /* wrap long words onto the next line */
}

.chat-input .width-machine {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-input button {
    padding-top: 5%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #5cbf62;  
}

.chat-input input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #4caf50;
}

.chat-messages::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.chat-input::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}