.game-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.game-screen > .leave-button {
    position: absolute;
    margin: 0;
    left: 0.5rem;
    top: 0.5rem;
}

.game-screen .header {
    height: fit-content;
    border: var(--primary-border-color) solid 2px;

    flex-grow: 0;
    flex-basis: 0px;
}

.game-screen .content {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 1vh;
    overflow-x: hidden;
    /* setting this to 1vh */
}
.game-screen .content > div{
    /* overflow-y: scroll; */
    overflow-x: hidden;
    /* overflow-y: auto; */
}

.game-screen .content > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    border-left: var(--primary-border-color) solid 1px;
    border-right: var(--primary-border-color) solid 1px;
}

.game-screen .content > div > :first-child {
    display: flex;
    flex-direction: row;
    height: max-content;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--primary-border-color);
    width: 100%;
    margin: 0;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}
.game-screen .content > div > :first-child > div{
    flex-grow: 1;
}
.game-screen .content > div > :first-child > button{
    width: max-content;
    /* height: max-content; */
    margin: 0;
}