.game-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.game-screen .header {
    height: fit-content;
    border-bottom: black solid 1px;

    flex-grow: 0;
    flex-basis: 0px;
}

.game-screen .content {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 1vh;
    /* setting this to 1vh */
}

.game-screen .content > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    border-left: black solid 1px;
    border-right: black solid 1px;
}