.game-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.game-screen .header {
    height: fit-content;
    border-bottom: black solid 1px;
}

.game-screen .content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    height: 1vh;
}

.game-screen .content > div {
    flex: 1 1 0px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    border-left: black solid 1px;
    border-right: black solid 1px;
}