.game-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.game-screen > .leave-button {
    position: absolute;
    margin: 0;
    left: 0.5rem;
    top: 0.5rem;
}

.game-screen .header {
    height: fit-content;
    border: var(--primary-border-color) solid 2px;

    flex-grow: 0;
    flex-basis: 0px;
}

.game-screen .content {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    height: 1vh;
    overflow-x: hidden;
    /* setting this to 1vh */
}
.game-screen .content > div{
    /* overflow-y: scroll; */
    overflow-x: hidden;
    /* overflow-y: auto; */
}

.game-screen .content > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    border-left: var(--primary-border-color) solid 1px;
    border-right: var(--primary-border-color) solid 1px;
}