.header-menu .menu-buttons button{
    margin: .2%;
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;

}
.header-menu{
    background-color: var(--secondary-color);
}
.header-menu .judgement-specific {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-menu .judgement-specific > div {
    width: fit-content;
    background-color: var(--background-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 8px;
    padding: .1em .3em;
}
.header-menu .judgement-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-menu .judgement-info > button{
    width: max-content;
    padding: .1em 1em;
    margin: .1em;
}