.game-screen {
    height: 100vh;
  }
  
  .game-screen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: #1c1c1c;
  }
  
  .game-screen-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: 85%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    grid-gap: 5px;
    
  }
  
  .game-screen-panel {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: green;
    border-radius: 0.75rem;
  }

  .game-screen-panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: #1c1c1c;
  }

  .game-screen-panel-text {
    font-size: 1.5rem;
    color: white;

  }
  