.play-menu {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.play-menu-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px double white;
    border-collapse: collapse;
    max-height: calc(100% - 5rem); /*this is bad, this assumes the footer is 5rem tall*/
}
.play-menu-table > div {
    border-collapse: collapse;
    overflow-y: scroll;
    min-height: 2rem;
}
.play-menu-table > div:first-child {
    overflow: hidden;
}
.play-menu-table > div > div {
    display: flex;
    justify-content:space-around;
    border-collapse: collapse;
    height: max-content;
}
.play-menu-table > div > div > div{
    border: 1px double white;
    flex: 1;
    height: 2rem;
    display: flex;
    align-items: center; /* Adjust vertical alignment */
    justify-content: flex-start; /* Align text to the right */
}
.play-menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px double white;
    border-collapse:collapse;
    flex-shrink: 0;
    max-height: 5rem;
}
.play-menu-footer > section{
    border: 1px double white;
}