.sm-center-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    transform: translate(-50%, -50%);
}
.sm-main > header {
    margin-bottom: 5%;
}
.sm-center-content > header {
    align-items: center;
}
.sm-center-content > header > h1 {
    font-size: 700%;
}
.sm-center-content > header > h2 {
    font-size: 400%;
}

.sm-main > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 400%;
}

.sm-main > div > button {
    margin: 2%;
    width: 20%;
    min-width: fit-content;
}

.sm-wiki {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 60%;
    overflow: hidden;
    width: 50%;
}

.sm-wiki > header {
    height: 25%;
}

.sm-wiki > div {
    height: 75%;
}