.sm {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.sm > main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 2rem;
    gap: 2rem;
}

.sm > main > section {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sm > main > section#main > div {
    display: flex;
    flex-direction: row;
}
.sm > main > section#main > h1 {
    font-size: 5.5rem;
}

.sm > main > section#main > div > button {
    padding: 0.3rem 0.5rem;
    margin: 0 0.5rem;
    font-size: 2rem;
}

.sm > main > section#main {
    width: 60%;
    min-height: 40vh;
}

.sm > main > section#wiki {
    width: 35%;
}

.sm > main > section#wiki .wiki-search {
    max-height: 40vh;
}

.sm > main > section > h1 {
    width: 100%;
    font-size: 4.5rem;
    padding-bottom: 1rem;
}

.sm > footer {
    position: static;
    background-color: var(--primary-color);
    border-top: var(--primary-border-color) solid .13rem;
}