.sm {
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: 10% 20% /10% no-repeat url('../moon.png');
}

.sm > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;

    gap: 1rem;

    padding: 6rem 2rem 0 2rem;
}

.sm > main > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 20rem;
}

.sm > main > div > button {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.5em;
    width: 11em;
    flex-grow: 1;
}

.sm > main > h1 {
    font-size: 6em;
    font-weight: 400;
    font-family: 'dankduck', 'Roboto', sans-serif;
}

@media only screen and (max-width: 800px),
       only screen and (max-height: 700px) {
    .sm > main > h1 {
        font-size: 4em;
    }
    .sm > main > div > button {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px),
       only screen and (max-height: 500px)  {
    .sm > main > h1 {
        font-size: 3em;
    }
}

.sm > footer {
    position: static;
    background-color: var(--primary-color);
    border-top: var(--primary-border-color) solid .13rem;
}

.sm nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 1rem;
}

.sm nav > ul > li {
    padding: 0 1rem;
}