.sm {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sm header {
    align-items: center;
    margin-bottom: 5%;
}
.sm h1 {
    font-size: 700%;
}

.sm > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 400%;
}

.sm > div > button{
    margin: 1%;
    width: 20%;
    min-width: fit-content;
}