
.anchor {
    overflow: hidden;
    
    height: 100dvh;
    width: 100dvw;

    background-color: var(--background-color);
}

.error-card {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 5%;
    bottom: 10%;
    height: fit-content;
    width: 20%;
    min-width: 15rem;
    box-shadow: 0 0 .5rem #0007;
    
    border-radius: 0.4rem;
    border-style: solid;
    padding: .5rem;
    background-color: var(--secondary-color);
    border-color: var(--primary-border-color);
    border-bottom-color: black;
    border-right-color: black;
    border-width: .13rem;
    color: white;
}

.error-card > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 125%;
}

.error-card > header > button.close {
    font-size: 0.75rem;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
}

.error-card > div {
    margin-top: 3%;
    text-align: left;
}

@media (prefers-reduced-motion = no-preference) {
    .error-card {
        /* Start off the page and slide in */
        transform: translateX(100%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

.settings-button {
    z-index: 101;
    position: fixed;
    right: .2rem;
    top: .2rem;
    height: fit-content;
    width: fit-content;
}


.anchor-cover-card {
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;
    background-color: var(--background-color);
    border: 0.13rem solid var(--primary-border-color);
    border-radius: 2rem;
    border-right-color: black;
    border-bottom-color: black;
    scrollbar-width: none;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    overflow-y: auto;
    z-index: 80;
}

.anchor-cover-card .close-button {
    position: fixed;
    padding: 0;
    top: 8%;
    right: 8%;
    border-radius: .5rem;
}