
.game-modes-editor {
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: var(--background-color);
    border: 0.13rem solid var(--primary-border-color);
    border-radius: 2rem;
    border-right-color: black;
    border-bottom-color: black;
    scrollbar-width: none;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    overflow-y: auto;
}

.game-modes-editor > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.game-modes-editor .saved-game-modes {
    max-height: 50vh;
    overflow-y: auto;
    display: block;
}
.game-modes-editor .saved-game-modes > div{
    display: inline-block;
    margin-left: 1rem;
}

.game-modes-editor > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.game-modes-editor > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    gap: 1rem;
}

.game-modes-editor .close-button {
    position: fixed;
    padding: 0;
    top: 8%;
    right: 8%;
    border-radius: .5rem;
}

.game-modes-editor .save-menu {
    display: flex;
    justify-content: center;
}