.game-modes-editor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.game-modes-editor > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.game-modes-editor .saved-game-modes {
    max-height: 50vh;
    overflow-y: auto;
    display: block;
}
.game-modes-editor input {
    min-width: 3rem;
}
.game-modes-editor .saved-game-modes > div{
    display: inline-block;
    margin-left: 1rem;
}

.game-modes-editor > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.game-modes-editor > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    gap: 1rem;
    max-width: 100%;
}

.game-modes-editor .save-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}