.loading-dots {
    display: inline-block;
    width: 60px;
    aspect-ratio: 8/5;
    --_g: no-repeat radial-gradient(#000 68%,#0000 71%);
    mask: var(--_g),var(--_g),var(--_g);
    mask-size: 25% 40%;
    background: white;
    animation: load 2s infinite;
}

@keyframes load {
    0%    {mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
    16.67%{mask-position: 0% 100%,50% 0%  ,100% 0%  }
    33.33%{mask-position: 0% 100%,50% 100%,100% 0%  }
    50%   {mask-position: 0% 100%,50% 100%,100% 100%}
    66.67%{mask-position: 0% 0%  ,50% 100%,100% 100%}
    83.33%{mask-position: 0% 0%  ,50% 0%  ,100% 100%}
    100%  {mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}