
.settings {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1rem;
    top: 2.5rem;
    height: fit-content;
    min-width: fit-content;
    box-shadow: 0 0 .5rem #0007;

    border: solid .13rem var(--primary-border-color);
    border-bottom-color: black;
    border-right-color: black;
    border-radius: 0.5rem;
    
    padding: .8rem;
    background-color: var(--secondary-color);

    z-index: 100;
}

@media (prefers-reduced-motion = no-preference) {
    .settings {
        /* Start off the page and slide in */
        transform: translateX(100%);
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
}

.settings .settings-volume {
    border: 0;
    padding: 0;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}