.wiki-search {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.wiki-search > .wiki-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.wiki-search-bar > input {
    width: 100%;
}
.wiki-search-bar > button {
    width: fit-content;
}
.wiki-search > .wiki-results {
    overflow-y: auto;
    flex: 1 1;
}