[Unit]
Description=mafia-game-client
After=network.target

[Service]
Type=Simple
User=mafia
ExecStart=/bin/bash /mafia/system/start-client.sh
Restart=always

[Install]
WantedBy=multi-user.target
