
.game-screen .content > .chat-menu {
    display: flex;
    flex-direction: column;
    width: 55%;
}
@media only screen and (max-width: 600px) {
    .game-screen .content > .chat-menu {
        width: 100%;
    }
}
.chat-message-section {
    height: 100%;
    overflow-y: auto;
}
.chat-message-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.chat-menu-icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 10px;
    border-top: .13rem solid var(--primary-border-color);
    background-color: var(--secondary-color);
}
.chat-send-section {
    display: flex;
    flex-direction: row;
    border-top: .13rem solid var(--primary-border-color);
    align-items: stretch;
}
.chat-send-section textarea {
    resize: none;
    width: 100%;
    text-align: left;
}