
.chat-menu {
    display: flex;
    flex-direction: column;
}
.chat-menu .message-section {
    display: grid;
    height: 100%;
    overflow-y: auto;
}
.chat-menu .message-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.chat-menu .chat-menu-icons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid var(--primary-border-color);
    background-color: var(--secondary-color);
}
.chat-menu .send-section {
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--primary-border-color);
    align-items: center;
}
.chat-menu .send-section button{
    height: 92%;
}
.chat-menu textarea {
    resize: none;
    width: 100%;
    text-align: left;
}