
.chat-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
.chat-menu .message-section {
    display: grid;
    height: 100%;
    overflow-y: auto;
}
.chat-menu .message-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
}
.chat-menu .message-list > * {
    max-width: 100%;
    text-align: left;
    margin: .1rem;
    overflow-wrap: anywhere;
}
.chat-menu .send-section {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--primary-border-color);
}
.chat-menu .send-section > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat-menu .send-section button{
    height: 92%;
}
.chat-menu textarea {
    resize: none;
    width: 100%;
    margin: 1%;
    text-align: left;
    /* color: white; */
    /* background-color: white; */
    /* text refuses to come up white for some reason TODO */
}