.graveyard-menu > .grid {
    display: grid;
    padding: .13rem;
    gap: .13rem .25rem;
    margin-bottom: 1rem;
}
.graveyard-menu > .grid button {
    width: 100%;
    text-align: left;
    margin: 0;
}
.graveyard-menu > .grid button > *{
    width: 100%;
    text-align: left;
}
.graveyard-menu .grave {
    white-space: normal;
    width: 100%;
}
.graveyard-menu .grave > div {
    text-align: left;
}
.graveyard-menu .note-area {
    background-color: var(--secondary-color);
    margin-bottom: 0.5rem;
    text-align: left;
}
.graveyard-menu .graveyard-menu-excludedRoles{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    user-select: none;
}
.graveyard-menu .graveyard-menu-excludedRoles > section{
    flex: 0 0 1;
}
.graveyard-menu .graveyard-menu-excludedRoles > div{
    display: block;
}
.graveyard-menu .graveyard-menu-excludedRoles > div > *{
    width: min-content;
}