.graveyard-menu {
    background-color: #242424;
}
.graveyard-menu .content-tab {
    background-color: #303030;
}
.graveyard-menu > .grid {
    display: grid;
    margin-bottom: 1rem;
}
.graveyard-menu > .grid button {
    width: 100%;
}
.graveyard-menu .grave {
    white-space: normal;
}
.graveyard-menu .note-area {
    background-color: var(--secondary-color);
    margin-bottom: 0.5rem;
    text-align: left;
}
.graveyard-menu .graveyard-menu-excludedRoles{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.graveyard-menu .graveyard-menu-excludedRoles > section{
    flex: 0 0 1;
}
.graveyard-menu .graveyard-menu-excludedRoles > div{
    display: block;
}
.graveyard-menu .graveyard-menu-excludedRoles > div > *{
    width: min-content;
}