.player-list-menu > button {
    margin: .13rem;
}
.player-list-menu .phase-specific{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: .1em .3em;
}
.player-list-menu .role-specific{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: .1em .3em;
}


.player-list-menu .player{
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.player-list-menu .player .buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}
.player-list-menu .player .buttons > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 33%;
}
.player-list-menu .player .buttons > div > button{
    min-width: 100%;
}
.player-list-menu .player .top{
    display: flex;
    flex-direction: row;
    align-items: center
}
.player-list-menu .player .top .whisper{
    flex-grow: 1;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: flex;
}
.player-list-menu .player .top > div{
    flex-shrink: 1;
    overflow-x: hidden;
    display: flex;     
}
.player-list-menu .player .top > div > *{
    flex-shrink: 1;
    overflow-x: hidden;
}
.player-list-menu .player .top .filter{
    flex-shrink: 1;
}
.player-list-menu .vote{
    grid-column: 3;
    overflow-x: hidden;
    flex-wrap: wrap;
}
.player-list-menu .target{
    grid-column: 2;
    overflow-x: hidden;
    flex-wrap: wrap;
}
.player-list-menu .day-target{
    grid-column: 1;
    overflow-x: hidden;
    flex-wrap: wrap;
}
.player-list-menu .playerTags{
    font-size:larger;
}

