.wiki-menu {
    display: flex;
    flex-direction: column;
    background-color: #2a2518;
}
.wiki-menu .content-tab {
    background-color: #39352a;
}
.wiki-menu > .wiki-menu-search {
    min-height: 0;
    flex-grow: 1;
}