.will-menu > section{
    margin-top: 1%;
}
.will-menu textarea {
    box-sizing: border-box;
    justify-content: center;
    margin-left: .1em;
    margin-right: .1em;
    resize: none;
    text-align: left;
    height: 19em;
    width: calc(100% - .2em);
}