.will-menu > section{
    margin-top: 1%;
}
.will-menu textarea {
    box-sizing: border-box;
    justify-content: center;
    margin-left: .1rem;
    margin-right: .1rem;
    resize: none;
    text-align: left;
    height: 19rem;
    width: calc(100% - .2rem);
}
.will-menu summary {
    text-align: left;
}