
.lm {
    display: block;
    padding: 2%;
}

.lm > header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lm > header > .leave-button {
    position: absolute;
    margin: 0;
    left: 0.5rem;
    top: 0.5rem;
}

.lm > header input{
    background: none;
    border: none;
    width: 0;
    padding:0;
    margin: 0;
}
.lm > header h1{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lm > header button{
    font-size: 1.5rem;
    margin: .5%;
    padding: .5%;
}

.lm > main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
    .lm > main {
        flex-direction: column;
    }
}
.lm > main > div {
    width: 100%;
}

.lm input {
    width: 100%;
    margin: .5%;
}

.lm .left {
    margin-bottom: 4%;
}

.lm .left .name-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}



.lm .right .time {
    margin-bottom: 5%;
}
.lm .right .time-picker {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

.lm .right .time-picker {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

