
.lm {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    overflow-y: auto;
    height: 100%;
}

.lm > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.lm > header input {
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .lm > header {
        justify-content: center;
    }
}

.lm > header div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.lm > header button{
    font-size: 1.5rem;
    padding: .5rem;
}

.lm > header button .icon {
    font-size: 1.5rem;
}

.lm > main ol {
    list-style: none;
}

.lm > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.lm > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    gap: 1rem;
}

.lm .name-box {
    display: flex;
    flex-direction: row;
}

.lm .name-box input {
    width: 100%;
}

.lobby-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.lobby-name button{
    flex-shrink: 1;
}
.lobby-name section{
    flex-grow: 1;
}
