
.lm {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    overflow-y: auto;
    height: 100%;
}

.lm > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.lm > header input {
    font-size: 1.5em;
    
}

.lm > header div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.lm > header button{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    gap: .25rem;
    padding: .25rem .5rem;
}

@media only screen and (max-width: 600px) {
    .lm > header {
        justify-content: center;
    }

    .lm > header button {
        font-size: 1.25em;
        padding: .13rem .25rem;
    }
}

.lm > main ol {
    list-style: none;
}

.lm > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 1rem;
    column-gap: 2rem;
}

.lm > main > div {
    display: flex;
    flex-direction: column;
    flex-basis: 47%;
    flex-grow: 1;
    gap: 1rem;
}

.lm .name-box {
    display: flex;
    flex-direction: row;
}

.lm .name-box input {
    width: 100%;
}

.lobby-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.lobby-name button{
    flex-shrink: 1;
}
.lobby-name section{
    flex-grow: 1;
}

.lm .player-list > div {
    border: .13rem solid var(--background-border-color);
    border-top-color: var(--background-border-shadow-color);
    border-left-color: var(--background-border-shadow-color);
    border-radius: .5rem;
}

.lm .player-list ol li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .13rem .25rem;
    gap: .5rem;
    align-items: center;
    min-height: 2em;
}

.lm .player-list ol li:nth-of-type(even) {
    background-color: var(--primary-color);
}

.lm .player-list ol li > div {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}
