.fallible-button {
    position: relative
}

.fallible-button-popup {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    padding: .13rem .25rem;
    margin-top: .25rem;
    background-color: var(--secondary-color);
    border-radius: .25rem;
    border: .13rem solid var(--primary-border-color);
    position: absolute
}