
.grave {
    white-space: normal;
    width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-border-color);
}
.grave .note-area {
    background-color: var(--secondary-color);
    margin-bottom: 0.5rem;
    text-align: left;
}