.icon {
    font-size: 1.2rem;
    user-select: none;
}

button .icon {
    vertical-align: text-top;
}

.icon-small {
    font-size: 1rem;
    vertical-align:auto;
}

.icon-tiny {
    font-size: 0.75rem;
    vertical-align:auto;
}