.icon {
    font-size: 1.2em;
    user-select: none;
}

button .icon {
    vertical-align: text-top;
}

.icon-small {
    font-size: 1em;
    vertical-align:auto;
}

.icon-tiny {
    font-size: 0.75em;
    vertical-align:auto;
}