.custom-select {
    position: relative; /* Position relative to contain absolute children */
}

.custom-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    padding: .13rem .25rem;
    margin-top: .25rem;
    background-color: var(--secondary-color);
    border-radius: .25rem;
    border: .13rem solid var(--primary-border-color);

    overflow-y: auto;
    max-height: 25rem;
}

.custom-select-options > div {
    display: flex;
    flex-direction: column;
}