
.keyword-player {
    color: whitesmoke;
    font-style: italic; 
    font-weight: bold;
}
.keyword-evil {
    color: red;
}
.keyword-good {
    color: lime;
}
.keyword-magic {
    color: magenta;
}
.keyword-neutral {
    color: orange;
}
.keyword-info {
    color: lightblue;
}
.keyword-hidden {
    color: whitesmoke;
    font-style: italic;
    font-weight: bold;
}
.keyword-abstain {
    color: cyan;
}
.keyword-dead {
    font-style: italic;
    color: gray
}
.keyword-pride, .keyword-trans {
    background-clip: text;
    color: rgba(255,255,255,.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.2);
}
.keyword-pride {
    background-image: linear-gradient(to left, violet, indigo, cyan, green, yellow, orange, red);
}
.keyword-trans {
    background-image: linear-gradient(to left, cyan, pink, white, pink, cyan);
}