*{
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    vertical-align: top;

    padding: 0;
    margin: 0;

    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 102%; 

    color: white;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    width: 100%;
}
.header-text {
    font-size: 440%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-self: center;
    /* Center self vertically */
    top: 50%;
}
.button {
    justify-content: center;
    background-color: white;
    color: black;
}
.credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #282c34;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-box {
    width: 100%;
    display: block;
}
.input-box-label {
    align-self: left;
    left: 2vh;
    padding-top: 30px;
}
.input-field {
    min-height: 2rem;
    width: 100%;
    border: 1px solid #282c34;
    border-radius: 0.5rem;
    color: black;
}
