*{
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    vertical-align: top;

    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 102%; 

    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    width: 100%;
}

.header-text {
    font-size: 440%;
    font-weight: bold;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-self: center;
    /* Center self vertically */
    top: 50%;
    letter-spacing: .333rem;
}

.button {
    margin-top: 0.5rem;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 0.75rem;
    min-height: 2rem;
}

.credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #282c34;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-box {
    width: 100%;
    display: block;
}

.input-box-label {
    align-self: left;
    left: 2vh;
}

.input-field {
    min-height: 2rem;
    width: 100%;
    border: 1px solid #282c34;
    border-radius: 0.5rem;
    color: black;
}

.loading-dots {
    display: inline-block;
    width: 60px; /* control the size */
    aspect-ratio: 8/5;
    --_g: no-repeat radial-gradient(#000 68%,#0000 71%);
    -webkit-mask: var(--_g),var(--_g),var(--_g);
    -webkit-mask-size: 25% 40%;
    background: white;
    animation: load 2s infinite;
}

@keyframes load {
    0%    {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
    16.67%{-webkit-mask-position: 0% 100%,50% 0%  ,100% 0%  }
    33.33%{-webkit-mask-position: 0% 100%,50% 100%,100% 0%  }
    50%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
    66.67%{-webkit-mask-position: 0% 0%  ,50% 100%,100% 100%}
    83.33%{-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 100%}
    100%  {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}

.dropdown {
    margin-top: 0.5rem;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 0.75rem;
    min-height: 2rem;
}

option {
    margin-top: 0.5rem;
    justify-content: center;
    background-color: white;
    color: black;
    min-height: 2rem;
}