*{
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    vertical-align: top;

    padding: 0;
    margin: 0;

    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 102%;
    
}
button{
    padding: .3%;
}
  