name: Rust

on:
  push:
    branches: [ "*.*.*/main" ]
  pull_request:
    branches: [ "*.*.*/main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_server:
    name: Build Server
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cd mafia_server && cargo build --verbose
